{% for task in page_obj %}
<div>
  <input type="hidden" name="task_order" value="{{ task.pk }}" />
  <li class="list-group-item justify-content-between">
  <a href="{%url 'get-task' task.pk%}">

    {{ task.description }}
  </a>
  <span
      style="cursor: pointer"
      hx-delete="{% url 'delete-task' task.pk %}"
      hx-target="#task-list"
      hx-confirm="Are you sure you want to delete this task?"
    >x</span>
  </li>
</div>
{% endfor %}

{% if page_obj.has_next %}
<div id="load-more-tasks">
  <button
    class="btn"
    hx-get="{% url 'load-more-tasks' %}?page={{ page_obj.next_page_number }}"
    hx-swap="outerHTML"
  >
    Charger plus de tâches...
  </button>
</div>
{% endif %}
