{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="align-center col-8 offset-2"> 
    <p class="lead mb-3 ml-0">
        Register
    </p>
    <hr>

    <form action="{% url 'register' %}", method="post" autocomplete="off">
        {% csrf_token %}

        <div class="form-group mb-3">
            <label for="">Username</label>
            {{ form.username.errors }}
            {% render_field form.username class="form-control" hx-post="/check_username" hx-trigger="keyup" hx-target="#username-error"%}
            <div id="username-error">

            </div>
            <label for="">Password</label>
            {{ form.password1.errors }}
            {% render_field form.password1 class="form-control" %}

            <label for="">Password Confirmation</label>
            {{ form.password2.errors }}
            {% render_field form.password2 class="form-control" %}
        </div>
        <button type="submit" class="btn btn-success mt-2"> Valider </button>
    </form>
</div>

{% endblock content %}